@import url('https://fonts.googleapis.com/css?family=Poppins');


body {
    background-color: 232,217,217,.3;
    font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
  
nav {
    width: 600px;
}
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10;
}
  
nav a {
    text-decoration: none;
    color: black;
    width: 10px;
    margin-left: 1rem;
    margin-top: 10;
}
  
.blackHeart {
    width: 20px;
    margin-right: 1rem;
    margin-top: 10;
}

.familiarFeatures {
    width: 50px;
    margin-right: 1rem;
}

.magnifyingGlass {
    width: 20px;
    margin-right: 1rem;
}

.npmAudit {
    width: 50px;
    margin-right: 1rem;
}

.npmLogo {
    width: 40px;
    margin-right: 1rem;
}

.teamManagement {
    width: 50px;
    margin-right: 1rem;
}

.triangleHexagon {
    margin-right: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 50px;
}

.zeroConfiguration {
    width: 50px;
    margin-right: 1rem;
}

ul {
    position: absolute;
   top: 0;
   right: 0;
   background: 232,217,217,.3;;
   padding: 6px;
   color: #fff;
}

h1{
    font-weight: bold;
    height: 100px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.essentialJavascript {
    font-size: 16px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25em;
    margin-left: 25em;
    text-align: center;
}

.npmIsTheTool {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25em;
    margin-left: 25em;
    text-align: center;
    font-weight: lighter;
}

.images1 {
    display: inline-block;
    width: 70px;
    height: 30px;
    padding: 10px;
    margin: 100px;
    padding-bottom: 10px;
}

.zero1 {
    display: inline-block;
    width: 60px;
    height: 10px;
    padding: 10px;
    margin: 100px; 
    color: #E66A6A;
    padding-bottom: 10px;
}

.para1 {
    display: inline-block;
    width: 60px;
    height: 10px;
    padding: 10px;
    margin: 100px; 
    text-align: left;
    padding-bottom: 10px;
    font-weight: lighter;
    font-size: 12px;
}

.buttonSearch {
    padding: 5px;
    position: relative;
    background-color: #fff;
    font-size: 14px;
    margin-left: 0px;
}

.buttonJoin {
    padding: 5px;
    position: relative;
    background-color: #fff;
    font-size: 14px;
}

.buttonLogin {
    padding: 5px;
    position: relative;
    background-color: #fff;
    font-size: 14px;
    border: none;
    align-items: flex-end; 
}

.textbox {
    width: 1000px;
    height: 30px;
    background-color: rgb(242, 242, 242)
}

.buildAmazingThings {
    font-size: 14px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25em;
    margin-left: 25em;
}

.bringTheBest {
    font-size: 30px;  
    padding-top: 10px; 
}

.textBoxDiv{
    margin-top: 30px;
}

.firstButtons {
    margin-top: 60px;
}

.createAnOrgBtn {
    color: white;
    background-color: black;
    font-size: 20px;
    width: 400px;
}

.seePlans {
    background-color: #E66A6A;
    padding: 10px;
    font-size: 20px;
    width: 200px;
}

.joinForFreeBtn{
    padding: 10px;
    background-color: white;
    margin-bottom: 40px;
    font-size: 20px;
    width: 200px;
}

.buttonSearch {
    background-color: #E66A6A;
}

.joinForFree{
    background-color: #E2DCDC;
    margin-top: 5px;
    padding-bottom: 15px;
}

.createAnOrgBtn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 50px;
}

mark {
    background-color:rgb(255, 255, 153);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}